@import "compass/reset";
@import "lib/utility";
@import "compass/css3";

/* ==========================================================================
   Component: base
 ============================================================================ */


 // public
 p,span,h1,h2,h3,h4,h5,h6,a,button,div{
    font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial","Hiragino Sans GB","Microsoft Yahei",sans-serif;
    -webkit-font-smoothing:antialiased;
    -ms-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
}
 body{
    font-family: "PingFang SC","Helvetica Neue","Helvetica","Arial","Hiragino Sans GB","Microsoft Yahei",sans-serif;
    width:100%;
 }
 a{
    text-decoration:none;
 }
 .wrap{
    width:1140px;
    margin:0 auto;
 }
 .text-gradient{
         display: inline-block;
        font-family:"Arial";
        font-weight:bold;
        background-image: -webkit-gradient(linear,left center,left 80%,from(rgba(201,217,250,1)), to(rgba(201,217,250,0)));

        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
 .head{
    height:70px;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    line-height:70px;
    z-index:200;
    box-shadow: 0px 0px 5px 3px rgba(41,60,82,.1);
    &.scroll{
        background:#fff;
    }
    .logo{
        height:80px;
        a{
            height:80px;
            display:block;
            img{
                margin-top:10px;
            }
        }
    }
    .head_navigation{
        li{            
            a{
                display: block;
                padding:0 35px;
                height:80px;
                font-size:16px;
                &.normal{
                    color:rgba(255,255,255,.5);

                }
                &.normal:hover,&.normal.active{
                    color:#fff;
                }
                &.scroll{
                    color:rgba(17,48,118,.5);                   
                }
                 &.scroll:hover,&.scroll.active{
                    color:#113076;

                }

            }
        }
    }
    &.no_shadow{
        box-shadow: 0px 0px 10px 5px rgba(41,60,82,0);
    }
    &.head_regular{
        background:#fff;
        .head_navigation{
            li{            
                a{
                    display: block;
                    padding:0 35px;
                    height:70px;
                    font-size:16px;
                    color:rgba(17,48,118,.5);
                    &:hover,&.active{
                        color:#113076;

                    }

                }
            }
        }
    }
 }
 .subnav{
        height:50px;
        width:100%;
        line-height:50px;
        position:fixed;
        top:70px;
        left:0;
        border-top:1px solid rgba(40,52,79,.1);
        background:#fff;
        li{   
            float:left;         
                a{
                    display: block;
                    padding-right:44px;
                    height:70px;
                    font-size:16px;
                    color:rgba(17,48,118,.5);
                    &:hover,&.active{
                        color:#113076;

                    }

                }
            }
        }
 .foot{
    height:252px;
    background:#293c52;
    padding-top:68px;
    .foot_top{
        padding-bottom:55px;
        border-bottom:1px solid rgba(255,255,255,.2);
        .site_map{
            p{
                color:#fff;
                margin-bottom:15px;
                font-size:14px;
                &.map{
                    margin-bottom:50px;
                    a{
                        color:#fff;
                        font-size:14px;
                        margin:0 28px;
                        &.no_margin{
                            margin-left:0;
                        }
                    }
                }
                
            }
        }
        .erweima{
            margin-left:90px;
            .pic{
                margin-right:64px;
                p{
                    font-size:14px;
                    color:#fff;
                    padding-bottom:8px;
                    text-align: center;
                }
            }
        }
        .phone{
            width:248px;
            height:78px;
            border:1px solid #fff;
            color:#fff;
            text-align:center;
            margin-top:32px;
           .phone_num{
                font-size:26px;
                padding-bottom:8px;
                margin-top:14px;
           }
           .working_time{
                font-size:13px;
           }
        }
    }
    .copyright{
        font-size:14px;
        color:rgba(255,255,255,.4);
        text-align:center;
        line-height:40px;
    }
    

 }
 a.btn{
        display:block;
        width:154px;
        height:60px;
        background:url(../img/btn.png) no-repeat;
        color:#fff;
        font-size:20px;
        line-height:50px;
        text-align:center;
        margin:0 auto;
        cursor:pointer; 
}
// index 首页
 .banner{
    height:850px;
    max-width:1920px;
    min-width:1140px;
    background: url(../img/home-bg1.jpg) no-repeat center;
    text-align:center;
    padding-top:1px;
    h2{
        margin-top:366px;
        font-size:58px;
        color:#fff;
        padding-bottom:22px;

    }
    p{
        padding-bottom:36px;
        font-size:22px;
        color:#fff;
    }
    a.btn{
        display:block;
        width:154px;
        height:60px;
        background:url(../img/btn.png) no-repeat;
        color:#fff;
        font-size:20px;
        line-height:52px;
        text-align:center;
        margin:0 auto;
        cursor:pointer; 
    }
 }
 .content.index{
    .item{
        height:674px;
        text-align:center;
        padding-top:76px;
        &.about_us{
            background:url(../img/home-pic2.png) no-repeat center bottom;
        }
        .text-gradient{
             display: inline-block;
                color:#c9d9fa;
                font-size:54px;
                font-family:"Arial";
                font-weight:bold;
                margin-bottom:4px;
                background-image: -webkit-gradient(linear,left center,left 90%,from(rgba(201,217,250,1)), to(rgba(201,217,250,0)));

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
        }
        .title{
            color:#113076;
            font-size:36px;
        }
        .tip{
            padding-top:28px;
            color:#113076;
            font-size:17px;
            line-height:1.6em;
        }
        .card_group{
            padding:50px 15px 0;
            // text-align:center
            li{
                width:290px;
                height:370px;
                margin-right:120px;
                &.no_margin{
                     margin-right:0px;
                }
                &:hover{
                    box-shadow: 0px 0px 10px 5px rgba(26,125,254,.2);
                }
                a{
                    display:block;
                    padding-top:52px;
                    width:100%;
                    height:318px;
                    h4{
                        font-size:21px;
                        color:#113076;
                        padding-top:36px;
                        padding-bottom:10px;
                    }
                    p{
                        color:#7c8aa7;
                        font-size:14px;
                        line-height:1.6em;
                    }
                }
            }
        }
        .btn{
            margin-top:44px;
            margin-bottom:64px;
        }
        .news_box{
            text-align:left;
            padding-top:38px;
            .news_pic{
                a{
                    width:444px;
                    height:420px;
                    padding-left:56px;
                    margin-top:30px;
                    display:block;
                    background:#f1f7fe;
                    &:hover{
                        box-shadow: 0px 0px 5px 2px rgba(26,125,254,.2);     

                    }
                    .time{
                        padding-top:28px;
                        font-size:22px;
                        color:#7c8aa7;
                        padding-bottom:16px;
                    }
                    img{
                        width:388px;
                        height:216px;
                        margin-bottom: 18px;
                    }
                    .title{
                        color:#113076;
                        font-size:20px;
                        margin-bottom:16px;
                        width:388px;
                        padding-top:0;
                    }
                    .text{
                        color:#7c8aa7;
                        font-size:14px;
                        padding-left:32px;
                        line-height:1.6em;
                        width:356px;
                        position:relative;
                        .line{
                            border-left:2px solid #a5afc3;
                            display:inline-block;
                            height:40px;
                            position:absolute;
                            top:7px;
                            left:0;
                        }
                    }
                }
                
             }
              .news_list{
                width:554px;
                .more{
                    color:#7c8aa7;
                    font-size:17px;
                    margin-right:10px;
                    &:hover{
                        color:#1a7dfe;
                    }
                }
                .list{
                    padding-top:12px;
                    height:430px;
                    overflow-y:hidden;
                    a{
                        display:block;
                        width:534px;
                        margin:0 auto;
                        height:140px;
                        border-top:1px solid rgba(124,138,167,.2);
                        &:hover{
                            border-top:1px solid rgba(124,138,167,0);
                            box-shadow: 0px 0px 5px 2px rgba(26,125,254,.2);     
                            .news_title{
                                color:#1a7dfe !important;
                            }
                            .point{
                                background:#1a7dfe !important;
                            }
                        }
                        &:hover+a{
                            border-top:1px solid rgba(124,138,167,0);
                        }
                        .fl{
                            width:424px;
                            .news_title{
                                padding-top:30px;
                                color:#113076;
                                font-size:17px;
                                padding-bottom:20px;
                                padding-left:20px;
                                .point{
                                    width:4px;
                                    height:4px;
                                    background:#113076;
                                    border-radius:50%;
                                    display:inline-block;
                                    margin-right:20px;
                                    margin-bottom:3px;
                                }

                            }
                            .news_text{
                                color:#7c8aa7;
                                font-size:14px;
                                line-height:1.6em;
                                height:44px; 
                                padding-left:46px;
                            }
                        }
                        p.fr{
                             padding-top:30px;
                            font-size:22px;
                            color:#7c8aa7;
                            padding-right:22px;
                        }
                        
                    } 
                }
               

            }
        }
       
      

    }
    .bar{
        width:100%;
        height:242px;
        background:url(../img/home-bg2.jpg) no-repeat center;
        text-align:center;
        padding-top:158px;
        
        p{
            margin-bottom:26px;
            color:#fff;
            font-size:34px;
        }
    }

 }

 // business_overview 公司业务-概览
.banner.business{
    margin-top:120px;
    height:720px;
    max-width:1920px;
    min-width:1140px;
}
.banner.overview{
    background: url(../img/gailan-bg1.jpg) no-repeat center;
    
}
.business.content{
    width:100%;
    overflow-x:hidden;
    .item{
        height:700px;
        .text{
            h2{
                display: inline-block;
                color: #c9dafc;
                font-size:54px;
                font-family:"Arial";
                font-weight: bold;
            
              }
              h3{
                    color:#113076;
                    font-size:36px;
                    padding-top:2px;

                }
                .hr{
                    width:40px;
                    border-bottom:4px solid #c9dafe;
                    padding-top:22px;
                }
                .tip{
                    padding-top:23px;
                    color:#113076;
                    font-size:17px;
                    line-height:1.6em;
                    p{
                        padding-bottom:8px;
                   }
                }
        
            }
    }
    .item.our_service{
        background:url(../img/gailan-pic1.png) no-repeat center top;
        padding-top:0;
        .pic{
            padding-top:154px;
        }
        .text{
            padding-top:210px;
            width:618px;           
            }
    }
    .item.distance_cooperation{
        .wrap{
            position:relative;
            .pic{
                position:absolute;
                top:0;
                left:50%;
            }
            .text{
                position:absolute;
                width:695px;
                left:0;
                top:174px;
                .tip{
                    width:522px;
                }
            }
            .btn{
                margin: 58px 0 0;
            }
        }
        
    }
    .item.propagate{
        background:#f1f7fe;
        .wrap{
            background:url(../img/gailan-pic3.png) no-repeat left 140px;
        }
        
        .text{
            width:460px;
            padding-top:184px;
            margin-left:680px;
        }
        .btn{
            margin: 58px 0 0;
        }
    }
    .item.recruitment{
        .wrap{
            position:relative;
            .pic{
                position:absolute;
                top:0;
                left:50%;
            }
            .text{
                width:522px;
                position:absolute;
                top:166px;
                left:0;

            }
            .btn{
                margin: 58px 0 0;
            }
        }
        
    }
    .item.cooperation{
        text-align:center;
        height:800px;
        background:#f1f7fe;
        p{
            color:#113076;
            font-size:17px;
            line-height:1.6em;
        }
        h2{
            margin-top:76px;
            display: inline-block;
            color:#c9d9fa;
            font-size:54px;
            font-family:"Arial";
            font-weight:bold;
            background-image: -webkit-gradient(linear,left center,left 90%,from(rgba(201,217,250,1)), to(rgba(201,217,250,0)));

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        img{
            margin:50px 0 17px;
        }
    }
    .item.legalboot{
        .wrap{
            position:relative;
            .pic{
                position:absolute;
                left:-300px;
                top:0;
            }
            .text{
                position:absolute;
                left:0;
                top:210px;
                width:640px;

            }
            
        }  
    }
    .bar{
        width:100%;
        height:400px;
        text-align:center;
        background: url(../img/gailan-bg2.jpg) no-repeat center;
        &.idea{
        background:url(../img/gailan-bg5.jpg) no-repeat center;
        }
        .text-gradient{
            color:#fff;
             padding-top:46px;
             display: inline-block;
                font-size:54px;
                font-family:"Arial";
                font-weight:bold;
                background-image: -webkit-gradient(linear,left center,left 90%,from(rgba(255,255,255,1)), to(rgba(255,255,255,0)));

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
        }
        .title{
            padding-top:2px;
            color:#fff;
            font-size:26px;
        }
    }
    
}
 // business_law_culture 公司业务-法律文化宣传
 .banner.law_culture{
    background: url(../img/falvwenhua-bg1.jpg) no-repeat center;
    h2{
        margin-top:280px;
        padding-bottom:36px;
    }
    p{
        font-size:36px;
    }
 }
 .content.law_culture{
    .bar.about_us{
        background: url(../img/falvwenhua-bg2.jpg) no-repeat    center;
        p{
            color:#fff;
            font-size:34px;
            line-height:2em;
            padding-top:100px;
            text-align:center;
        }
    }
    .item.service_content{
        text-align:center;
        h2{
            margin-top:76px;
            display: inline-block;
            color:#c9d9fa;
            font-size:54px;
            font-family:"Arial";
            font-weight:bold;
            background-image: -webkit-gradient(linear,left center,left 90%,from(rgba(201,217,250,1)), to(rgba(201,217,250,0)));

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
             padding-bottom:0;
            &+h3{
                padding-top:2px;
            }
        }
        .tip{
            padding-top:28px;
            padding-bottom:90px;
        }
        img{
            margin-bottom:32px;
        }
        ul{
            li{
                width:300px;
                margin-right:120px;
                &.no_margin{
                    margin-right:0;
                }
                .title{
                    font-size:20px;
                    color:#113076;
                    padding-bottom:23px;
                }
                .txt{
                    font-size:14px;
                    color:#7c8aa7;
                    line-height:1.6em;
                }
            }
        }
    }
    .item.professional_team{
        border-top: 1px solid rgba(124,138,167,.2);
        .pic{
            width:500px;
            padding-top:136px;
            position:relative;
            cursor:pointer;
            transition:all .5s;
            .circle{
                width:248px;
                height:248px;
                border-radius:50%;
                text-align:center;
                color:#fff;
                position:absolute;
                &:hover{
                    z-index: 100;
                }
                &:hover .title{
                transform:translateY(0px)
                };
                &:hover .tip{
                    opacity:1;
                }
                &.circle1{
                    background:#0a60c2;
                    top:136px;
                    left:105px;
                }
                &.circle2{
                    background:#2382f1;
                    top:322px;
                    left:0;
                }
                &.circle3{
                    background:#82bcff;
                    top:322px;
                    left:210px;
                }
                .title{
                    padding-top:54px;
                    padding-bottom:28px;
                    font-size:34px;
                    font-weight:bold;
                    transition:all .5s;
                    transform:translateY(50px);

                }
                .tip{
                    width:188px;
                    line-height: 1.5em;
                    margin:0 auto;
                    font-size:15px;
                    opacity: 0;
                    transition:all .5s;
                }

            }
        }
        .text{
            width:610px;
            padding-top:236px;
        }
    }
    .item.own_platform{
        background:#f1f7fe;
        height:800px;
        .text{
            text-align:center;
            h2{
                margin-top:76px;
                display: inline-block;
                color:#c9d9fa;
                font-size:54px;
                font-family:"Arial";
                font-weight:bold;
                background-image: -webkit-gradient(linear,left center,left 80%,from(rgba(201,217,250,1)), to(rgba(201,217,250,0)));

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding-bottom:0;
                &+h3{
                    padding-top:2px;
                }
            }

        }
        .card_box{
            margin-top:66px;
            .card{
                width:330px;
                height:480px;
                position:relative;
                margin-right:75px;
                &.no_margin{
                    margin-right:0px;
                }
                &:hover .front{
                        -webkit-transform: rotateY( 180deg);
                        -moz-transform: rotateY( 180deg);
                        -o-transform: rotateY( 180deg);
                        -ms-transform: rotateY( 180deg);
                        transform: rotateY( 180deg);
                    }
                &:hover .back{
                        -webkit-transform: rotateY( 0deg);
                        -moz-transform: rotateY( 0deg);
                        -o-transform: rotateY( 0deg);
                        -ms-transform: rotateY( 0deg);
                        transform: rotateY( 0deg);
                    }
                .side{
                    position:absolute;
                     transform-style: preserve-3d;
                    -webkit-transform-style: preserve-3d;
                    backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    transition:all 1s;
                    border-radius:10px;
                    box-shadow: 0px 0px 10px 5px rgba(26,125,254,.2);
                }
                .front{
                    padding-top:60px;
                    width:330px;
                    height:420px;
                    background:#fff;
                    -webkit-transform: rotateY( 0deg);
                    -moz-transform: rotateY( 0deg);
                    -o-transform: rotateY( 0deg);
                    transform: rotateY( 0deg);
                   img{
                        margin-bottom:30px;
                    }
                    h5{
                        color:#113076;
                        font-size:21px;
                        padding-bottom:12px;
                    }
                    .wechart{
                        font-size:15px;
                        padding-bottom:40px;
                        color:#113076;


                    }
                    
                }
               .back{
                    width:330px;
                    height:452px;
                    padding-top:28px;
                    background:#f1f7fe;
                    -webkit-transform: rotateY( -180deg);
                    -moz-transform: rotateY( -180deg);
                    -o-transform: rotateY( -180deg);
                    -ms-transform: rotateY( -180deg);
                    transform: rotateY( -180deg);
                       backface-visibility: hidden;
                    -webkit-backface-visibility: hidden;
                    -moz-backface-visibility: hidden;
                    -ms-backface-visibility: hidden;
                    img{ 
                        display:block;
                        margin-left:24px;
                    }
                    .introduce{
                        width:260px;
                        margin:44px auto;
                        font-size:15px;
                        color:#2b4b70;
                        text-align:left;
                        line-height:1.6em;
                    }
                    
                }
            }
        }
        
    }
 }
 // business_law_culture 公司业务-法律招聘
 .banner.legal_recruitment{
    background: url(../img/falvzhaopin-bg1.jpg) no-repeat center;
    h2{
        margin-top:370px;
        font-size:58px;
    }

 }
  .content.legal_recruitment{
     .item.recruit{
        text-align:center;
        padding-top:86px;
        background: url(../img/falvzhaopin-pic1.png) no-repeat center bottom;
        height:614px;
        h2{
            display: inline-block;
            color:#c9d9fa;
            font-size:54px;
            font-family:"Arial";
            font-weight:bold;
            background-image: -webkit-gradient(linear,left center,left 80%,from(rgba(201,217,250,1)), to(rgba(201,217,250,0)));

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom:0;
            &+h3{
                padding-top:2px;
            }   
        }
        .tip{
           margin:0 auto;
           width:745px; 
        }
     }
     .bar{
            background: url(../img/falvzhaopin-bg2.jpg) no-repeat center ;
            li{
                width:238px;
                text-align:center;
                padding-top:118px;
                color:#fff;
                margin-right:213px;
                &.no_margin{
                    margin-right:0;
                }
                img{
                    margin-bottom:34px;
                } 
                h4{
                    padding-bottom:18px;
                }
                .tip{
                    line-height:1.6em;
                    font-size:17px;
                }
            }
        }
    .item.wechart{
        overflow:hidden;
        .wrap{
            padding-top:185px;
            .text{
                width:562px;
                position:relative;
                h2{
                    position:absolute;
                    left:135px;
                    top:15px;
                    font-size:84px;
                    z-index: -1;
                }
                h3{
                    padding-top:56px;
                }
                .hr{
                    border-bottom-color:#113076;
                }
                img{
                    margin-top:24px;
                    margin-left:-10px;
                }
            }
        }     

    }
    .item.cooperator_unit{
        height:714px;
        text-align:center;
        padding-top:86px;
        background:#f1f7fe;
        .tip{
            text-align:left;
            padding-left: 10px;
            padding-top:58px;
        }
    }
  }
  // business_remote_collaborative 公司业务-异地协作
 .banner.remote_collaborative{
    background: url(../img/yidixiezuo-bg1.jpg) no-repeat center;
    color:#fff;
    .text{
        padding-top:254px;
        padding-left:30px;
        text-align:left;
        h2{
            font-size:68px;
            padding-bottom:22px;
            margin-top:0;
        }
        .tip{
            padding-bottom:46px;
            width:676px;
            line-height:1.6em;
            font-size:18px;

        }
        .button{
            width:140px;
            height:34px;
            background:#0fbea5;
            text-align:center;
            line-height:34px;
            font-size:17px;
            padding-bottom:0;
        }
    }

 }
  .content.remote_collaborative{
        .item.advantage{
            background: url(../img/yidixiezuo-bg2.jpg) no-repeat center;
            .text{
                width:510px;
                padding-top:160px;
                h2{
                    color:rgba(15,190,165,.2)
                }
                h3,.tip{
                    color:#2b4b70;
                }
                .hr{
                    border-bottom-color:#2b4b70;
                }
                .list{
                    background:url(../img/yidixiezuo_circle.png) no-repeat;
                    height:157px;
                   margin-top:46px;
                    p{
                        line-height: 1em;
                        padding-bottom:30px;
                        text-indent: 34px;
                        color:#2b4b70;
                        font-size:16px;


                    }
                }
            }

        }
        .item.transfer{
            background: url(../img/yidixiezuo-bg3.jpg) no-repeat center;
            h3{
                padding-top:280px;
                color:#2b4b70;
                font-size:36px;
                padding-bottom:28px;
            }
            .tip{
                font-size:17px;
                color:#2b4b70;
                line-height:1.6em;
                width:450px;
            }
        }
        .item.order_tracking{
            border-bottom: 1px solid #e5e8ed;
            background: url(../img/yidixiezuo-bg4.jpg) no-repeat center;
            .text{
                h3{
                    padding-top:240px;
                    color:#2b4b70;
                    font-size:36px;
                    font-weight:normal;
                    
                }
                .tip{
                    font-size:17px;
                    color:#2b4b70;
                    line-height:1.6em;
                    width:450px;
                }
            }
            
        }
        .item.order_checking{
            background: url(../img/yidixiezuo-bg5.jpg) no-repeat center;
            h3{
                padding-top:268px;
                color:#2b4b70;
                font-size:36px;
            }
            .tip{
                font-size:17px;
                color:#2b4b70;
                line-height:1.6em;
                width:450px;
                &.long{
                    width:480px;
                }
            }
        }
  }

  // us_company_deed  关于我们-公司事迹
  .banner .us{
    margin-top:121px;
  }
  .banner.company_deed{
    height:500px;
    background:url(../img/gongsijishi.jpg) no-repeat center;
    margin-top:121px;

  }
  .content.company_deed{
    h3{
        padding-top:80px;
        text-align:center;
        font-size:44px;
        color:#113076;
        padding-bottom:50px;
    }
    .schedule{
        .wrap{
            background:url(../img/cor2.png) repeat-y 363px top;
            padding-left:100px;
            .item{
                margin-bottom:124px;
                .year{
                    font-size:68px;
                    width:240px;
                    display:inline-block;
                    color:#a3cbf9;
                    padding-right:38px;
                    margin-bottom:80px;
                    background:url(../img/shiji-circle1.png) no-repeat center right;
                    text-align:right;
                }
                .case{
                    font-size:19px;
                    color:#113076;
                    margin-bottom:52px;
                    p{  
                        padding-bottom:18px;
                       .incident{
                            padding-left:38px;
                            background:url(../img/shiji-circle2.png) no-repeat center left;
                        }
                        .time{
                            display:inline-block;
                            text-align:right;
                            width:240px;
                            margin-right:14px;
                        }
                    }
                    img{
                        margin-left:300px;
                    }
                    
                }
            } 
        }
       
    }
  }
// us_company_intro  关于我们-公司简介
  .banner.company_intro{
    height:500px;
    background:url(../img/gongsijianjie.jpg) no-repeat center;
    margin-top:121px;

  }
  .content.company_intro{
    padding:78px 0 100px 0;
    dl{
        font-size:17px;
        color:#113076;
        
        dt{
            padding-bottom:15px;
        }
        dd{
            margin-bottom:50px;
        }
    }
  }
  // us_company_intro  关于我们-加入我们
  .banner.company_join{
    height:500px;
    background:url(../img/jiaruwomen.jpg) no-repeat center;
    margin-top:121px;

  }
  .content.company_join{
    h2{
        font-size:44px;
        color:#113076;
        text-align:center;
        padding-bottom:50px;
        padding-top:80px;
        span{
            padding-left:46px;
        }
    }
    .tab_bar{
        background:#f1f7fe;
        height:60px;
        line-height:60px;
        margin-bottom:44px;
        li{
            width:25%;
            text-align:center;
            color:#113076;
            font-size:19px;
            span{
                display:inline-block;
                height:58px;
                width:80px;
                cursor:pointer;
                &.active{
                    color:#1a7dfe;
                    font-weight:bold;
                    border-bottom:2px solid #1a7dfe;
                }
            }
            &:hover span{
                color:#1a7dfe;
                font-weight:bold;
                border-bottom:2px solid #1a7dfe;
            }
        }
    }
    .tab_content{
        padding-bottom:60px;
        .position_box{
            margin-bottom:60px;
        }
        .wrap{
            width:1000px;
            .mailbox{
                font-size:17px;
                color:#113076;  
                padding-bottom:52px;

            }
            .position{
                width:140px;
                height:40px;
                border:1px solid #1a7dfe;
                line-height:40px;
                text-align:center;
                margin-bottom: 24px;
                color:#1a7dfe;
                font-size:19px;
            }
            .details{
                font-size:15px;
                color:#113076;
                line-height:1.6em;
                .item{
                    margin-bottom:8px;
                }
            }
        }
    }
  }

  // news 新闻资讯
  .content.news{
    padding-top:34px;
    margin-top:70px;
    padding-bottom:100px;
    .label{
        width:50px;
        height:22px;
        border:1px solid #1a7dfe;
        color:#1a7dfe;
        font-size:14px;
        line-height:22px;
        text-align:center;
        border-radius:11px;
    }
    .content_left{
        .hot_title{
            font-size:30px;
            font-weight:bold;
            color:#113076;
            padding-top:16px;
            padding-bottom:32px;
        }
        .other{
            font-size:15px;
            color:#7c8aa7;
            padding-bottom:28px;
            .author{
                margin:0 40px 0 10px;
            }
        }
        .hot{
            a{
                display:block;
                width:100%;
                height:100%;
            }
            position:relative;
            width:792px;
            height:400px;
            &.news_special{
                border-bottom:1px solid rgba(124,138,167,.2);
                padding-bottom:34px;
            }
            img{
                width:100%;
                height:100%;
            }
            p{
                padding:0 30px;
                height:60px;
                width:732px;
                background:rgba(0,0,0,.6);
                line-height:60px;
                color:#fff;
                font-size:24px;
                position:absolute;
                left:0;
                bottom:0;
            }
        }
        .news_list{
            li{
                border-bottom:1px solid rgba(124,138,167,.2);
                a{
                    display:inline-block;
                    width:792px;
                    padding:34px 0;
                    .pic{
                        width:260px;
                        height:160px;
                        margin-right:28px;
                        img{
                            width:100%;
                            height:100%;
                        }
                    }
                    .date_box{
                        width:150px;
                        height:120px;
                        text-align:center;
                        background:#d1e5fc;
                        margin-right:28px;
                        .time{
                            padding-top:28px;
                            padding-bottom:6px;
                            color:#113076;
                            font-size:15px;
                        }
                        .num{
                            font-size:54px;
                            color:#113076;
                        }
                    }
                    
                    .text{
                        width:474px;
                        height:157px;
                        position:relative;
                        &.special{
                            width:600px;
                        }
                        .title{
                            font-size:22px;
                            color:#113076;
                            line-height:34px;
                        }
                        .abstract{
                            font-size:14px;
                            color:#7c8aa7;
                            line-height: 1.6em;
                            margin-bottom:28px;
                            margin-top:2px;
                        }
                        .label{
                             margin-bottom:14px; 
                             display:inline-block;
                             margin-right:10px;
                        }
                        .tip{
                            font-size:14px;
                            color:#7c8aa7;
                            position:absolute;
                            left:0;
                            bottom:0;
                            .author{
                                margin-right:20px;
                            }
                        }

                    }
                    .text.special{
                        .abstract{
                            padding-top:8px;
                        }
                    }
                }
            }
        }
        .view_more{
                width:792px;
                height:60px;
                border:0;
                background:#e5e8ed;
                color:#113076;
                font-size:19px;
                outline: none;
            }
        .text_box{
            font-size:17px;
            color:#113076;
            line-height:1.6em;
            width:792px;
            padding-top:30px;
            p{
                margin-bottom:10px;
            }
            h6{
                font-weight:bold;
                margin-bottom:10px;
            }
        }
    }
    .content_right{
        .border{
            height:26px;
            border-bottom:1px solid #c6dffb;
            position:relative;
            .short_border{
                border-bottom:1px solid #1a7df1;
                position:absolute;
                width:68px;
                left:0;
                bottom:-1px;
            }
        }
        .hot_article{
            padding:0 14px 12px;
            background:#f1f7fe;
            width:260px; 
            margin-bottom: 34px;     
            .title{
                font-size:17px;
                color:#113076;
                padding-top:22px;
                padding-bottom:18px;
                
            }
            ul{
                li{
                    a{
                        display:block;
                        width:260px;
                        padding-left:16px;
                        background:url(../img/circle_icon.png) no-repeat 0 8px;
                        margin-bottom:18px;
                        color:#7c8aa7;
                        font-size:14px;
                        line-height:1.6em;
                        &:hover{
                            color:#1a7dfe;
                        }
                    }
                }
            }

        }
        .special_column{
            padding:0 14px 12px;
            background:#f1f7fe;
            width:260px;  
            .title{
                font-size:17px;
                color:#113076;
                padding-top:22px;
                padding-bottom:18px;

            }
            ul{
                li{
                    margin-bottom:14px;
                    a{
                        display:block;
                        width:260px;
                        img{
                            width:100%;
                            height:144px;
                        }
                    }
                }
            }
        }
    }
  }